In [15]:
#list comprehension 
a = [1, 3, 5, 7, 9, 11]

In [2]:
#append
b = []
b.append(10)
b.append(20)
b.append([40, 50])

In [3]:
b

[10, 20, [40, 50]]

In [4]:
c = []
for x in a:
    c.append(x * 2)
print(c)

[2, 6, 10, 14, 18, 22]

In [5]:
d = [x * 2 for x in a]

In [6]:
d

[2, 6, 10, 14, 18, 22]

In [7]:
#[1, 4, 9, 16, 25, 36]

In [8]:
e1 = []
for x in range(1, 7):
    e1.append(x ** 2)
print(e1)

[1, 4, 9, 16, 25, 36]

In [9]:
e2 = [x ** 2 for x in range(1, 7)]

In [10]:
e2

[1, 4, 9, 16, 25, 36]

In [11]:
#[36, 25, 16, 9, 4, 1]

In [12]:
f1 = []
for x in range(6, 0, -1):
    f1.append(x ** 2)
print(f1)

[36, 25, 16, 9, 4, 1]

In [13]:
f2 = [x ** 2 for x in range(6, 0, -1)]

In [14]:
f2

[36, 25, 16, 9, 4, 1]

In [20]:
#sets
a = set()
a.add(2)
a.add(1)
print(a)

{1, 2}

In [21]:
for x in a:
    print(x)

1
2

In [22]:
given_list = [1, 1, 2, 2, 4, 5]

In [23]:
new_set1 = set()

In [25]:
for x in given_list:
    new_set1.add(x)

In [26]:
print(new_set1)

{1, 2, 4, 5}

In [27]:
#set is unique

In [28]:
new_list1 = list()
for x in new_set1:
    new_list1.append(x)

In [29]:
new_list1

[1, 2, 4, 5]

In [30]:
b = set()
b.add('Life')
b.add('Banana')
b.add(10*2)

In [31]:
b

{20, 'Banana', 'Life'}

In [32]:
#set doesn't follow the add order unlike list using append.

In [34]:
#find the sum of the unique element in the following list
given_list2 = [1, 3, 4, 1, 3, 4, 5, 5]

In [37]:
new_set2 = set()
for x in given_list2:
    new_set2.add(x)
total = 0
for x in new_set2:
    total += x
print(total)

13

In [36]:
sum(new_set2)

13